.snake{
    height: 2%;
    width: 2%;

    position: absolute;
    background-color: #2a5770;
    border: 1px solid #fff;
    border-radius: 2px;
    box-sizing: border-box;
    z-index: 2;
}

.food{
    display: flex;
    position: absolute;
    height: 1%;
    width: 1%;
    background-color: coral;
    border: 1px solid #fff;
    border-radius: 50%;
    z-index: 1;
    margin: .5%;
}